* {
  cursor: url("cam.svg"), auto;
}

a,
input,
button,
.btn {
  cursor: url("cam_click.svg"), auto !important;
}

a {
  color: rgb(100, 100, 100);
}

body {
  background: url("texture.jpg") center center / cover no-repeat;
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url("old_movie.png") center/cover no-repeat;
  opacity: 0.4;
}

.form-control:focus {
  border-color: black;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.box {
  background-color: rgba(0, 0, 0, 0.2);
}
